body {
    background-color: <a href="https://www.colourlovers.com/pattern/1424463/homework" target="_blank"><img src="https://www.colourlovers.com/images/badges/n/1424/1424463_homework.png" style="width: 240px; height: 120px; border: 0 none;" alt="homework" /></a><br /><span style="font-size: 10px; color: #5e5e5e;"><a href="//www.colourlovers.com/seamless-studio" target="_blank" style="font-size: 10px; color: #5e5e5e;">Vector Patterns</a> by <a href="//www.colourlovers.com/" target="_blank" style="font-size: 10px; color: #5e5e5e;">COLOURlovers</a></span>;
}

h1 {
    color: white;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 20px;
}
